<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer-custom" th:fragment="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0 small">© 2026 Андрей Воробьев. Все права защищены.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="https://github.com/AndreyJVM" target="_blank" class="me-3">
                    <i class="fab fa-github fa-lg"></i>
                </a>
                <a href="https://t.me/AndreyAQA" target="_blank" class="me-3">
                    <i class="fab fa-telegram fa-lg"></i>
                </a>
                <a href="mailto:andrey.vorobev.aqa@gmail.com" target="_blank">
                    <i class="fas fa-envelope fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</footer>